# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
